* {
	box-sizing: border-box;
	margin: 0;
}

.bar-line {
	border-left: 3px solid #222;
}

.beat-line {
	border-bottom: 3px solid #222;
	cursor: pointer;
	margin: 1em;
	padding: 3em;
}

.beat-line:hover {
	background-color: yellow;
	/*border-bottom: 3px dashed #222;*/
}

button {
	background-color: teal;
	color: white;
}

.choice-container {
	background-color: #eee;
	display: flex;
	font-family: sans-serif;
	justify-content: space-around;
	padding: 2em;
<<<<<<< HEAD
}

.choice {
	cursor: pointer;	
}

=======
}

.choice {
	cursor: pointer;	
}

>>>>>>> origin/master
.choice:hover {
	border: 3px solid yellow;
}

.container {
	display: grid;
	grid-template-rows: auto auto 3fr 1fr;
}

.heading {
	display: flex;
	justify-content: center;
	padding: .5em;
	font-family: sans-serif;	
	color: teal;
}

.measure {
	display: flex;
	margin-left: 4rem;
}

.meter {
	padding-top: 3em;
	margin-left: .25em;
	font-family: serif;
	font-size: 3.5rem;
	font-weight: 700;
}

.parameters {
	display: flex;
	padding: 0em 10em;
	justify-content: space-around;
<<<<<<< HEAD
	background-color: #ccc;	
}

.param-btn {
	border-radius: 25%;
}

#meter-modal, #num-beats-modal, #note-values-modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 75%;
}

.param-modal-content {
	background-color: #eee;
	border: 1px solid #888;
	color: teal;
	margin-top: 10%; 
	margin-left: 50%;
  	padding: 3em;  	
  	width: 20em;
}

.param-modal-close {
	color: #aaa;
  	float: right;  	
}

.param-modal-close:hover,
.param-modal-close:focus {
  color: teal;
  text-decoration: none;
  cursor: pointer;
}

.work-area {
	max-width: 1024px;
=======
	background-color: #ccc;
	/*display: none;*/
	
}

.parameters:hover {
	display: block;
	
}


.work-area {
	max-width: 1024px;

>>>>>>> origin/master
}