* {
	box-sizing: border-box;
	margin: 0;
}

.bar-line {
	border-left: 3px solid #222;
}

.beat-line {
	border-bottom: 3px solid #222;
	cursor: pointer;
	margin: 1em;
	padding: 3em;
}

.beat-line-over {
	border-bottom: 3px dashed #222;
}

button {
	background-color: teal;
	color: white;
}

.choice-container {
	display: flex;
	font-family: sans-serif;
	justify-content: space-around;
}

.choice {cursor: pointer;
	
}

.container {
	display: grid;
	grid-template-rows: 1fr 1fr 8fr 2fr;
}

.heading {
	display: flex;
	justify-content: center;
	padding: .5em;
	font-family: sans-serif;	
	color: teal;
}

.measure {
	display: flex;
	margin-left: 4rem;
}

.meter {
	margin-left: .25em;
	/*font-family: serif;*/
	font-size: 3.5rem;
	font-weight: 700;
}

.parameters {
	display: flex;
	padding: 0em 10em;
	justify-content: space-around;
	background-color: #ccc;
}

.test-object {
	height: 25px;
  	width: 25px;
  	background-color: green;
  	border-radius: 50%;
  	display: inline-block;
  	cursor: move
}

.work-area {
	padding-top: 2em;
	background-color: #eee;
}